<h1>Editing questionnaire Section</h1>

<%= render 'form' %>

<%= link_to 'Show', questionnaire_template_questionnaire_section_path(@qt, @questionnaire_section) %> |
<%= link_to 'Back', questionnaire_template_path(@qt) %>
