<p id="notice"><%= notice %></p>

<p>
  <strong>Descr:</strong>
  <%= @option_type.descr %>
</p>

<%= link_to 'Edit', edit_option_type_path(@option_type) %> |
<%= link_to 'Back', option_types_path %>
