<%= form_for(@questionaire_template) do |f| %>
  <% if @questionaire_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionaire_template.errors.count, "error") %> prohibited this questionaire_template from being saved:</h2>

      <ul>
      <% @questionaire_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
