<h1>Editing Questionaire Section</h1>

<%= render 'form' %>

<%= link_to 'Show', questionaire_template_questionaire_section_path(@qt, @questionaire_section) %> |
<%= link_to 'Back', questionaire_template_path(@qt) %>
