<header id="page_header" role="banner">
	<nav id="utility">
		<p>
			You are logged in as <strong>Derrick McCray</strong>
			<%= link_to "[Your Account]", '' %>
			<%= link_to "[Logout]", '' %>
		</p>
	</nav>
	<!--<%= link_to(image_tag("logo.png",
							alt: "PatFUS",
							id: "logo"),
		'',
		title: "Portal") %>
		-->
</header>